.dentistInfo{
    padding-top:20px;
    margin-bottom: 100px;
}

.dentistR2{
    margin-top: 20px;
}

.patientCard{
    background-color: rgb(245, 243, 243);
        box-shadow: 2px 2px 5px 000;
}

.patientCard > Form {
    padding-top: 10px;
}

.patientCard > Form > Input {
    margin-left:10px;
}

.note{
    height: 200px;
    overflow: scroll;
    background-color: white;
}

#reservationNotice{
    margin-top: 1rem;
    float: left;
    color: black;
}

