.InfoBoxLeft {
    background-color: rgb(245, 243, 243);
    width: 300px;
    height: 300px;
    float: none;
    margin: 1rem 1rem 1rem auto;
    box-shadow: 6px 6px 5px 000;
}
.InfoBoxRight {
    background-color: rgb(245, 243, 243);
    width: 300px;
    height: 300px;
    float: none;
    margin: 1rem auto 1rem 1rem;
    box-shadow: 6px 6px 5px 000;
}

.InfoBoxFull {
    background-color:rgb(245, 243, 243);
    height: 300px;
    float: none;
    margin: 1rem auto;
    box-shadow: 50px;
    box-shadow: 6px 6px 5px 000;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
    margin-top: 10px;
    list-style-type: none;
}

li {
    color: black;
    font-size: 18pt;
    text-align: left;
    margin-top: 1rem;
}

button{
    float: right;
    font-size: 20pt;
}

p{
    margin-top: 30px;
    color: black;
}

body{
    background-color: rgba(192, 223, 248, 0.863);
}

@media screen and (max-width: 500px) {
    .InfoBoxLeft {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    } 
    
    .InfoBoxRight {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}