.InfoBoxLeft {
    background-color: rgb(242, 250, 231);
    width: 300px;
    height: 300px;
    float: none;
    margin: 1rem 1rem 1rem auto;
}
.InfoBoxRight {
    background-color: rgb(242, 250, 231);
    width: 300px;
    height: 300px;
    float: none;
    margin: 1rem auto 1rem 1rem;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
    list-style-type: none;
}

li {
    font-size: 18pt;
    text-align: left;
    margin-top: 1rem;
}

button{
    float: right;
    font-size: 20pt;
}