#homePage {
    background: url("../../assets/images/background.jpg");
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginMove {
    padding-left: 300px;
    padding-top: 100px;
}
/* 
.card {
    padding-left: 300;
    padding-top: 100;
} */
@media screen and (max-width: 1024px) {
    #homePage {
        width:100%;
        text-align: center;
        /* margin: 1rem auto 1rem 1rem; */
    }
    .loginMove {
        padding-left: 0px;
        padding-top: 100px;
    }

    .card {
        margin: 0 auto;
    }
    
 }

 @media screen and (min-width: 736px) and (max-width: 1023px) {
    #homePage {
        width:100%;
        text-align: center;
       
        /* margin: 1rem auto 1rem 1rem; */
    }

    .card {
        margin: 0 auto;
    }
    
    .loginMove {
        padding-left: 0px;
        padding-top: 100px;
    }

 }


 
 @media screen and (min-width: 667px) and(max-width: 735) {
    #homePage {
        width:100%;
        text-align: center;
        position: relative;
       
        /* margin: 1rem auto 1rem 1rem; */
    }

    .loginMove {
        padding-left: 0px;
        padding-top: 100px;
    }
    
    .card {
        margin: 0 auto;
    }
    
 }

@media screen and (max-width: 500px) {
    :root {
        width: 100%;
    }
    html {
        width: 100%;
        margin: 0;
    }
}
